<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionTests</key>
		<dict>
			<key>test_LastMileArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0041005</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.038573</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38921</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0046894</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040538</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.4202</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0011126</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011385</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1086</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0014526</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012994</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13763</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:34:40 PM</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTest</key>
		<dict>
			<key>testLastMileArrayDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.67114</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:08:17 AM</string>
				</dict>
			</dict>
			<key>testLastMileDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.9411</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testLastMileDictDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.66984</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:08:17 AM</string>
				</dict>
			</dict>
			<key>testSwiftArrayDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:08:17 AM</string>
				</dict>
			</dict>
			<key>testSwiftDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.058231</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSwiftDictDecoderPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055934</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:08:17 AM</string>
				</dict>
			</dict>
			<key>test_LastMileArray10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00090287</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:46:16 AM</string>
				</dict>
			</dict>
			<key>test_LastMileArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0041056</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.038947</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.386</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00097805</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:46:16 AM</string>
				</dict>
			</dict>
			<key>test_LastMileDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0045957</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04038</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41468</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032643</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:46:16 AM</string>
				</dict>
			</dict>
			<key>test_SwiftArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0011109</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01141</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10977</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032842</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 11:46:16 AM</string>
				</dict>
			</dict>
			<key>test_SwiftDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018716</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013247</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13867</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Sep 28, 2019 at 5:32:05 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
