<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionTests</key>
		<dict>
			<key>test_LastMileArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0024546</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.020446</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_LastMileArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21666</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0027059</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022571</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_LastMileDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24293</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00098198</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0095945</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftArray10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10155</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict100()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0013568</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict1000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012601</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
			<key>test_SwiftDict10000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12376</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 22, 2020 at 1:01:31 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
